<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PixelScheduler.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33C949871A5C1E43003470E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33C9499A1A5C1E43003470E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C99BF6561D09706C00F56B00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9CC40501B26C9F000FEEAFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9CC40651B26C9F000FEEAFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF445C5A1AB583DD007DD7E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF445C791AB58406007DD7E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF65AA511B25E16600E670D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF65AA691B25E16700E670D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF65AA7B1B25E27300E670D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF65AA901B25E27400E670D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF65AAA21B25E30A00E670D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF65AAB71B25E30A00E670D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
